.bg-spriteSize {
    width: 64px;
    height: 64px;
    border: transparent;
}

.bg-sprite00 {
    background: url('../images/css_sprites.png') -10px -10px;
    border: transparent;
}

.bg-sprite45 {
    background: url('../images/css_sprites.png') -94px -10px;
}

.bg-sprite90 {
    background: url('../images/css_sprites.png') -10px -94px;
}

.bg-sprite135 {
    background: url('../images/css_sprites.png') -94px -94px;
}

.bg-sprite180 {
    background: url('../images/css_sprites.png') -178px -10px;
}

.bg-sprite225 {
    background: url('../images/css_sprites.png') -178px -94px;
}

.bg-sprite270 {
    background: url('../images/css_sprites.png') -10px -178px;
}

.bg-sprite315 {
    background: url('../images/css_sprites.png') -94px -178px;
}

.bg-download {
    background: url('../images/css_sprites.png') -178px -178px;
}
